<% include header %>

<div class="container">

  <h1>Krake Schema Server</h1>
  <p>
    A web service that takes in a definition of data source schema and returns various useful attributes about the schema
  </p>

</div>

<% include footer %>